<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071342117353-p8fo2m20csk66dnkan0f8akg5uo8b968.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071342117353-p8fo2m20csk66dnkan0f8akg5uo8b968</string>
	<key>API_KEY</key>
	<string>AIzaSyAdUnd61BOk6hXO4hX2RqQmjrJLK3TVsa4</string>
	<key>GCM_SENDER_ID</key>
	<string>1071342117353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mathToCash</string>
	<key>PROJECT_ID</key>
	<string>math-to-cash</string>
	<key>STORAGE_BUCKET</key>
	<string>math-to-cash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071342117353:ios:a43a0fb23d7684d5d5ab78</string>
</dict>
</plist>